{% extends 'manage/index.html'%}
{% block manage_content %}
 <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Agenda</h1>
        <h3 class="text-gray-800"><i class="far fa-arrow-alt-circle-left" onclick="history.back(-1)"></i></h3>
    </div>
    <!-- Content Row -->

    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
	        <div class="card-header py-3">
	            <h6 class="m-0 font-weight-bold">Agenda</h6>
	        </div>
	        <div class="card-body">
	            <div class="table-responsive">
	               <table class="table table-dark" id="dataTable">
		                <thead>
		                    <tr>
		                        <th scope="col">id</th>
		                        <!-- <th scope="col" title="Details_du_rendezvous">dd-rdv</th> -->
		                        <th scope="col" title="client">client</th> 
		                        <th scope="col" title="audit_planner">audit_planner</th>
		                        <th scope="col" title="Agent_referent_du_client">agent</th> 
		                        <th scope="col" title="Validation_par_agent">vpa</th> 
		                        <th scope="col" title="Lieu">lieu</th> 
		                        <th scope="col" title="Date_">date</th>  
		                        <th scope="col">Status</th>
		                        
		                        <!-- <th scope="col" title="Suivi_du_rendezvous">sd-rdv</th>   -->
		                        <!-- <th scope="col" title="Confirmation_du_rendezvous">cd-rdv</th>   -->
		                    </tr>
		                </thead>
		                <tbody>
		                {%for agenda_ in agendas %}
		                    <tr>
		                        <th scope="row">{{agenda_.id}}</th>
		                        <td>{{agenda_.client__data.NOM}}</td>
		                        <!-- <td>{{agenda_.Agent_referent_du_client}} </td> -->
		                        <td>{{agenda_.audit_planner_data.NOM}}</td>
								<td>{{agenda_.Agent_data_.NOM}}</td>
								<td>{{agenda_.Validation_par_agent}}</td>
								<td>{{agenda_.Lieu}}</td>
		                        <td>{{agenda_.Date_}}</td>
								<td>{{agenda_.Status}}</td>  
								
		                        <!-- <td>{{agenda_.Suivi_du_rendezvous}} </td>  -->
		                        <!-- <td>{{agenda_.Confirmation_du_rendezvous}}</td>  -->
		                        <!--td><button type="button" class="btn btn-primary">Modifier</button></td>
		                        <td><button type="button" class="btn btn-danger">Supprimer</button></td-->
		                    </tr>
		                {%endfor%}
		                </tbody>
		            </table>
	            </div>
	        </div>
	    </div>
	</div>
    <!-- Pie Chart --> 
</div>

    <!-- Content Row -->
</div>
    <!-- /.container-fluid -->
{%endblock manage_content%}