{% extends 'manage/index.html'%}
{% block manage_content %}
<div style="" class="main-content">
    
    <div class="display-flex justify-content-space-between" style="margin-top: 20px;">
      <h2 class="title" style="color: #112A46;font-weight: 500; font-size: 1.5rem;">Ajouter une Facturation</h2>
    
    </div>

   <div class="table-container" style="">
        <div class="card" style="box-shadow: none; padding: 0px; border: 1px solid #d4d4cc;">
            <header class="card-header" style="border-bottom: 1px solid #d4d4cc; box-shadow:none; align-items: center;">
                <p class="card-header-title"><span class="icon"><i class="fas fa-file"></i></span></p>
                <!--div class="card-header-title">
                  <a onclick="window.history.back()" class="button is-danger is-small" style="padding: 10px;position: absolute;right: 10px;">Annuler</a>
                </div-->
                <div class="card-header-title">
                    <span style="padding: 10px;position: absolute;right: 10px;">Total HT:{{sum}} €</span>
                </div>
                                       
            </header>

                        <div class="">
                            {% with messages = get_flashed_messages(with_categories=true)%}
                            {% if messages %}
                            {%for category,message in messages%}
                            <div class="alert alert-{{category}}">
                                {{message}}
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                            <form class="user" method="POST" style="padding:10px; " action="{{url_for('users.create_facturee')}}" >
                                {{ form.hidden_tag() }}
                                <div class="form-group">
                                    {{form.submit(class="button is-small is-success")}}   
                                </div>
                           
                                <div class="columns">
                                    <div class="column">
                                        <div class="field is-vertical">
                                            <div class="is-normal">
                                                <label class="label"><small>{{form.Demarrer.label(class="form-control-label")}}</small>
                                            </label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field"><!---->
                                                <div class="control">
                                                 {% if form.Demarrer.errors %}
                                                  {{form.Demarrer(class="input is-invalid") }}
                                              <div class="invalid-feedback">
                                                  {% for error in form.Demarrer.errors %}
                                                      <span>{{ error }}</span>
                                                  {% endfor %}
                                              </div>
                                                  {% else %}
                                                      {{form.Demarrer(class="input", value=start)}}
                                                  {% endif %}
                                                </div>
                                                  <p class="help"> </p>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="field is-vertical">
                                        <div class="is-normal">
                                            <label class="label"><small>{{form.Fin.label(class="form-control-label")}}</small>
                                        </label>
                                        </div>
                                        <div class="field-body">
                                          <div class="field"><!---->
                                              <div class="control">
                                               {% if form.Fin.errors %}
                                                {{form.Fin(class="input is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.Fin.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                                {% else %}
                                                    {{form.Fin(class="input", value=end)}}
                                                {% endif %}
                                              </div>
                                                <p class="help"> </p>
                                            </div>
                                      </div>
                                    </div>
                                </div>    
                                    </div>                                
                            
                                {%for key in mission %}
                                <div class="columns">
                              
                                    <div class="column">
                                        <div class="is-vertical">
                                            <div class="is-normal">
                                                <label class="label"><small>{{form.Mission.label(class="form-control-label")}}</small>
                                            </label>
                                            </div>
                                            <div class="field-body">
                                              <div class="field"><!---->
                                                  <div class="control">
                                                    {% if form.Mission.errors %}
                                                        {{form.Mission(class="input is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.Mission.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                    {% else %}
                                                        {{form.Mission(class="input", value=key.id)}}
                                                    {% endif %}
                                                    
                                                  </div>
                                                    <p class="help"> </p>
                                                </div>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="is-vertical">
                                            <div class="is-normal">
                                                <label class="label"><small>{{form.Montant_HT.label(class="form-control-label")}}</small>
                                            </div>

                                            </label>
                                            </div>
                                            <div class="field-body">
                                              <div class="field"><!---->
                                                  <div class="control">
                                                   
                                                    {% if form.Montant_HT.errors %}
                                                    {{form.Montant_HT(class="input is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.Montant_HT.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                    {% else %}
                                                        {{form.Montant_HT(class="input", value=key.PRIX_HT_EDL)}}
                                                    {% endif %}
                                                    
                                                  </div>
                                                    <p class="help"> </p>
                                                </div>
                                          </div>
                                        </div>
                                
                                    <div class="column">
                                        <div class="is-vertical">
                                            <div class="is-normal">
                                                <label class="label"><small><label class="form-control-label" for="Date_EDL">Date_EDL</label></small>
                                            </label>
                                            </div>
                                            <div class="field-body">
                                              <div class="field"><!---->
                                                  <div class="control">
                                                   
                                                        {% if form.Date_EDL.errors %}
                                                        {{form.Date_EDL(class="input is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.Date_EDL.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                        {% else %}
                                                            {{form.Date_EDL(class="input", value=key.DATE_REALISE_EDL.strftime('%d/%m/%Y'))}}
                                                        {% endif %}
                                                    
                                                  </div>
                                                    <p class="help"> </p>
                                                </div>
                                          </div>
                                        </div>
                                    </div>  
                                                                 
                                </div>
                                {%endfor%}
                  
                               
                            </form>
                        </div>
                    </div>
                </div>
	        </div>
	   
{%endblock%}