{% extends 'manage/index.html' %}
{% block manage_content %}
 <div style="" class="main-content">
    
    <div class="display-flex justify-content-space-between title-box" style="margin-top: 20px;">
            <h2 class="title" style="color: #112A46;font-weight: 500; font-size: 1.5rem;"><i>Modifier les informations du client {{client.nom}} </i> </h2>
             {% if legend == "prospect" %}
            <a href="{{url_for('users.prospect_')}}" title="Consultez la liste des propects" class="button is-primary is-small"><i class="fas fa-list-ul"></i></a>
        {% endif %}
         {% if legend == "client" %}
            <a href="{{url_for('users.client')}}" title="Consultez la liste des clients" class="button is-primary is-small"><i class="fas fa-list-ul"></i></a>
        {% endif %}
           
    </div>
      <div class="table-container" style="">
        <div class="card" style="box-shadow: none; padding: 0px; border: 1px solid #d4d4cc;">
            <header class="card-header" style="border-bottom: 1px solid #d4d4cc; box-shadow:none;">
                <p class="card-header-title"><span class="icon"><i class="fas fa-user"></i></span></p>
                <div class="card-header-title">
                  <a onclick="window.history.back()" class="button is-danger is-small" style="padding: 10px;position: absolute;right: 10px;">Annuler</a>
                </div>
            </header>
            <div class=""> <!--class = p-5 -->
                {% with messages = get_flashed_messages(with_categories=true)%}
                {% if messages %}
                {%for category,message in messages%}
                <div class="alert alert-{{category}} p-1">
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <form class="user form-padding" method="POST">
                {{ form.hidden_tag() }}
                 <div class="field is-horizontal">
                      <div class="field-label is-normal">
                        <label class="label" style="text-align: left;"><small>{{form.Siret.label(class="form-control-label")}}</small></label></div>
                        <div class="field-body">
                          <div class="field"><!---->
                              <div class="control">
                               {% if form.Siret.errors %}
                            {{form.Siret(class="input is-invalid", value=client.siret) }}
                            <div class="invalid-feedback">
                                {% for error in form.Siret.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                                {% else %}
                                {% if client.siret == None %}
                                    {{form.Siret(class="input", placeholder="Données numérique")}}
                                {% else %}
                                  {{form.Siret(class="input", value=client.siret)}}
                                {% endif %}
                                {% endif %}
                              </div>
                                <p class="help">Non requis</p>
                            </div>
                          </div>
                        </div>
                         <hr/>
                  <div class="field is-horizontal">
                      <div class="field-label is-normal">
                        <label class="label" style="text-align: left;"><small>{{form.nom.label(class="form-control-label")}}</small></label></div>
                        <div class="field-body">
                          <div class="field"><!---->
                              <div class="control">
                               {% if form.nom.errors %}
                            {{form.nom(class="input is-invalid", value=client.nom) }}
                            <div class="invalid-feedback">
                                {% for error in form.nom.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                                {% else %}
                                    {{form.nom(class="input", value=client.nom)}}
                                {% endif %}
                              </div>
                                <p class="help">Non requis</p>
                            </div>
                          </div>
                        </div>

                        <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                  <label class="label" style="text-align: left;"><small>{{form.prenom.label(class="form-control-label")}}</small></label></div>
                                  <div class="field-body">
                                    <div class="field"><!---->
                                        <div class="control">
                                         {% if form.prenom.errors %}
                                      {{form.NOM(class="input is-invalid", value=client.prenom) }}
                                      <div class="invalid-feedback">
                                          {% for error in form.prenom.errors %}
                                              <span>{{ error }}</span>
                                          {% endfor %}
                                      </div>
                                          {% else %}
                                              {{form.prenom(class="input", value=client.prenom)}}
                                          {% endif %}
                                        </div>
                                          <p class="help">Non requis</p>
                                      </div>
                                    </div>
                                  </div>

                         <hr/>
                          <div class="field is-horizontal">
                              <div class="field-label is-normal">
                                <label class="label" style="text-align: left;"><small>{{form.Sexe.label(class="form-control-label")}}</small></label></div>
                                <div class="field-body">
                                  <div class="field"><!---->
                                      <div class="control">
                                       {% if form.Sexe.errors %}
                                    {{form.Sexe(class="input is-invalid", value=client.titre) }}
                                    <div class="invalid-feedback">
                                        {% for error in form.Sexe.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                        {% else %}
                                        <select class="input" id="Sexe" name="Sexe" value="Monsieur">
                                          <option value="Monsieur" {% if client.titre == 'Monsieur'%} selected {% endif %}>Monsieur</option>
                                          <option value="Madame" {% if client.titre == 'Madame' %} selected {% endif %}>Madame</option>
                                          <option value="Mademoiselle" {% if client.titre == 'Mademoiselle'%} selected {% endif %}>Mademoiselle</option>
                                        </select>
                                        {% endif %}
                                      </div>
                                        <p class="help"> Non requis</p>
                                    </div>
                                  </div>
                                </div>
                            <hr/>
                             <div class="field is-horizontal">
                                      <div class="field-label is-normal">
                                        <label class="label" style="text-align: left;"><small>{{form.Type.label(class="form-control-label")}}</small></label></div>
                                        <div class="field-body">
                                          <div class="field"><!---->
                                              <div class="control">
                                               {% if form.Type.errors %}
                                                {{form.Type(class="input is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.Type.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                                {% else %}
                                                <select class="input" id="Type" name="Type">
                                                  <option value="Professionnel" {% if client.TYPE == 'Professionnel' %} selected {% endif %}>Professionnel</option>
                                                  <option value="Particulier" {% if client.TYPE == 'Particulier' %} selected {% endif %}>Particulier</option>
                                                </select>
                                                {% endif %}
                                              </div>
                                                <p class="help"> Non requis</p>
                                            </div>
                                          </div>
                                        </div>
                                    <hr/>
                                     
                                    <div class="field is-horizontal">
                                      <div class="field-label is-normal">
                                        <label class="label" style="text-align: left;"><small>{{form.Societe.label(class="form-control-label")}}</small></label></div>
                                        <div class="field-body">
                                          <div class="field">
                                              <div class="control">
                                               {% if form.Societe.errors %}
                                                {{form.Societe(class="input is-invalid", value=client.societe) }}
                                            <div class="invalid-feedback">
                                                {% for error in form.Societe.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                                {% else %}
                                                    {{form.Societe(class="input",value=client.societe)}}
                                                {% endif %}
                                              </div>
                                                <p class="help"> Non requis</p>
                                            </div>
                                          </div>
                                        </div>
                                    <hr/>
                                    <div class="field is-horizontal">
                                      <div class="field-label is-normal">
                                        <label class="label" style="text-align: left;"><small>{{form.email.label(class="form-control-label")}}</small></label></div>
                                        <div class="field-body">
                                          <div class="field">
                                              <div class="control">
                                               {% if form.email.errors %}
                                                {{form.email(class="input is-invalid", value=client.email) }}
                                            <div class="invalid-feedback">
                                                {% for error in form.email.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                                {% else %}
                                                    {{form.email(class="input", value=client.email)}}
                                                {% endif %}
                                              </div>
                                                <p class="help"> Non requis</p>
                                            </div>
                                          </div>
                                        </div>
                                    <hr/>
                                    <div class="field is-horizontal">
                                      <div class="field-label is-normal">
                                        <label class="label" style="text-align: left;"><small>{{form.Reference.label(class="form-control-label")}}</small></label></div>
                                        <div class="field-body">
                                          <div class="field"><!---->
                                              <div class="control">
                                               {% if form.Reference.errors %}
                                                {{form.Reference(class="input is-invalid", value=client.reference) }}
                                            <div class="invalid-feedback">
                                                {% for error in form.Reference.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                                {% else %}
                                                    {{form.Reference(class="input", value=client.reference)}}
                                                {% endif %}
                                              </div>
                                                <p class="help"> Non requis</p>
                                            </div>
                                          </div>
                                        </div>
                                    <hr/> 
                                    <div class="field is-horizontal">
                                      <div class="field-label is-normal">
                                        <label class="label" style="text-align: left;"><small>{{form.Date_Creation.label(class="form-control-label")}}</small></label></div>
                                        <div class="field-body">
                                          <div class="field"><!---->
                                              <div class="control">
                                               {% if form.Date_Creation.errors %}
                                                {{form.Date_Creation(class="input is-invalid", value=client.date_creation.strftime('%d. %m. %Y')) }}
                                            <div class="invalid-feedback">
                                                {% for error in form.Date_Creation.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                                {% else %}
                                                    {{form.Date_Creation(class="input", value=client.date_creation.strftime('%d. %m. %Y'))}}
                                                {% endif %}
                                              </div>
                                                <p class="help"> Non requis</p>
                                            </div>
                                          </div>
                                        </div>
                                    <hr/> 

                                    <div class="field is-horizontal">
                                      <div class="field-label is-normal">
                                        <label class="label" style="text-align: left;"><small>{{form.EtatClient.label(class="form-control-label")}}</small></label></div>
                                        <div class="field-body">
                                          <div class="field"><!---->
                                              <div class="control">
                                               {% if form.EtatClient.errors %}
                                                {{form.EtatClient(class="input is-invalid", value=history.etat_client) }}
                                            <div class="invalid-feedback">
                                                {% for error in form.EtatClient.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                                {% else %}
                                                    {{form.EtatClient(class="input", value=history.etat_client)}}
                                                {% endif %}
                                              </div>
                                                <p class="help"> Non requis</p>
                                            </div>
                                          </div>
                                        </div>
                                    <hr/>  

                                    <div class="field is-horizontal">
                                      <div class="field-label is-normal">
                                        <label class="label" style="text-align: left;"><small>{{form.Enseigne.label(class="form-control-label")}}</small></label></div>
                                        <div class="field-body">
                                          <div class="field"><!---->
                                              <div class="control">
                                               {% if form.Enseigne.errors %}
                                                {{form.Enseigne(class="input is-invalid", value=client.enseigne) }}
                                            <div class="invalid-feedback">
                                                {% for error in form.Enseigne.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                                {% else %}
                                                    {{form.Enseigne(class="input", value=client.enseigne)}}
                                                {% endif %}
                                              </div>
                                                <p class="help">Non requis </p>
                                            </div>
                                          </div>
                                        </div>
                                    <hr/>                       
                                     <div class="field is-horizontal">
                                      <div class="field-label is-normal">
                                        <label class="label" style="text-align: left;"><small>{{form.Numero.label(class="form-control-label")}}</small></label></div>
                                        <div class="field-body">
                                          <div class="field"><!---->
                                              <div class="control">
                                               {% if form.Numero.errors %}
                                                {{form.Numero(class="input is-invalid", value=client.numero) }}
                                            <div class="invalid-feedback">
                                                {% for error in form.Numero.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                                {% else %}
                                                    {{form.Numero(class="input", value=client.numero)}}
                                                {% endif %}
                                              </div>
                                                <p class="help"> Non requis</p>
                                            </div>
                                          </div>
                                        </div>
                                    <hr/>                        
                                    <div class="field is-horizontal">
                                      <div class="field-label is-normal">
                                        <label class="label" style="text-align: left;"><small>{{form.Adresse1.label(class="form-control-label")}}</small></label></div>
                                        <div class="field-body">
                                          <div class="field"><!---->
                                              <div class="control">
                                               {% if form.Adresse1.errors %}
                                                {{form.Adresse1(class="input is-invalid", value=history.adresse1) }}
                                            <div class="invalid-feedback">
                                                {% for error in form.Adresse1.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                                {% else %}
                                                    {{form.Adresse1(class="input", value=history.adresse1)}}
                                                {% endif %}
                                              </div>
                                                <p class="help"> Non requis</p>
                                            </div>
                                          </div>
                                        </div>
                                    <hr/>
                                    <div class="field is-horizontal">
                                      <div class="field-label is-normal">
                                        <label class="label" style="text-align: left;"><small>{{form.Adresse2.label(class="form-control-label")}}</small></label></div>
                                        <div class="field-body">
                                          <div class="field"><!---->
                                              <div class="control">
                                               {% if form.Adresse2.errors %}
                                                {{form.Adresse2(class="input is-invalid", value=history.adresse2) }}
                                            <div class="invalid-feedback">
                                                {% for error in form.Adresse2.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                                {% else %}
                                                    {{form.Adresse2(class="input", value=history.adresse2)}}
                                                {% endif %}
                                              </div>
                                                <p class="help">Non requis</p>
                                            </div>
                                          </div>
                                        </div>
                                    <hr/>
                                     <div class="field is-horizontal">
                                      <div class="field-label is-normal">
                                        <label class="label" style="text-align: left;"><small>{{form.CP.label(class="form-control-label")}}</small></label></div>
                                        <div class="field-body">
                                          <div class="field"><!---->
                                              <div class="control">
                                               {% if form.CP.errors %}
                                                {{form.CP(class="input is-invalid", value=history.cp) }}
                                            <div class="invalid-feedback">
                                                {% for error in form.CP.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                                {% else %}
                                                    {{form.CP(class="input", value=history.cp)}}
                                                {% endif %}
                                              </div>
                                                <p class="help"> Non requis</p>
                                            </div>
                                          </div>
                                        </div>
                                    <hr/>
                                    <div class="field is-horizontal">
                                      <div class="field-label is-normal">
                                        <label class="label" style="text-align: left;"><small>{{form.Ville.label(class="form-control-label")}}</small></label></div>
                                        <div class="field-body">
                                          <div class="field"><!---->
                                              <div class="control">
                                               {% if form.Ville.errors %}
                                                {{form.Ville(class="input is-invalid", value=history.ville) }}
                                            <div class="invalid-feedback">
                                                {% for error in form.Ville.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                                {% else %}
                                                    {{form.Ville(class="input", value=history.ville)}}
                                                {% endif %}
                                              </div>
                                                <p class="help"> Non requis</p>
                                            </div>
                                          </div>
                                        </div>
                                    <hr/>   
                                    <div class="field is-horizontal">
                                      <div class="field-label is-normal">
                                        <label class="label" style="text-align: left;"><small>{{form.Pays.label(class="form-control-label")}}</small></label></div>
                                        <div class="field-body">
                                          <div class="field"><!---->
                                              <div class="control">
                                               {% if form.Pays.errors %}
                                                {{form.Pays(class="input is-invalid", value=history.pays) }}
                                            <div class="invalid-feedback">
                                                {% for error in form.Pays.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                                {% else %}
                                                <select class="input" id="Pays" name="Pays" required="" value="France">
                                                  <option value="France" {% if history.pays == 'France' %} selected {% endif %}>France</option>
                                                  <option value="Belgique" {% if history.pays == 'Belgique' %} selected {% endif %}>Belgique</option>
                                                </select>
                                                {% endif %}
                                              </div>
                                                <p class="help"> Non requis</p>
                                            </div>
                                          </div>
                                        </div>
                                    <hr/>
                                    <div class="field is-horizontal">
                                      <div class="field-label is-normal">
                                        <label class="label" style="text-align: left;"><small>{{form.LoginExtranet.label(class="form-control-label")}}</small></label></div>
                                        <div class="field-body">
                                          <div class="field"><!---->
                                              <div class="control">
                                               {% if form.LoginExtranet.errors %}
                                                {{form.LoginExtranet(class="input is-invalid", value=history.login_extranet) }}
                                            <div class="invalid-feedback">
                                                {% for error in form.LoginExtranet.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                                {% else %}
                                                    {{form.LoginExtranet(class="input", value=history.login_extranet)}}
                                                {% endif %}
                                              </div>
                                                <p class="help"> Non requis </p>
                                            </div>
                                          </div>
                                        </div>
                                    <hr/>
                                    <div class="field is-horizontal">
                                      <div class="field-label is-normal">
                                        <label class="label" style="text-align: left;"><small>{{form.MdpExtranet.label(class="form-control-label")}}</small></label></div>
                                        <div class="field-body">
                                          <div class="field"><!---->
                                              <div class="control">
                                               {% if form.MdpExtranet.errors %}
                                                {{form.MdpExtranet(class="input is-invalid", value=history.mpd_extranet) }}
                                            <div class="invalid-feedback">
                                                {% for error in form.MdpExtranet.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                                {% else %}
                                                    {{form.MdpExtranet(class="input", value=history.mpd_extranet)}}
                                                {% endif %}
                                              </div>
                                                <p class="help"> Non requis </p>
                                            </div>
                                          </div>
                                        </div>
                                    <hr/>
                                    <div class="field is-horizontal">
                                    <div class="field-label is-normal"></div>
                                        <div class="field-body">
                                          <div class="field">
                                            <div class="control">
                                              <button type="submit" class="button is-primary is-small"> Modifiez </button>
                                               
                                              <a href="{{url_for('users.delete_client', id=client.id)}}"><input type="button" type="submit" class="button is-danger is-small" name="Supprimez" value="Supprimez"></a>
                                               
                                            </div>

                                          </div>
                                        </div>
                                     </div>
                                                                 </form>
                        </div>
                    </div>
                </div>
	        </div>
	    </div>
	</div>
    <!-- Pie Chart --> 
</div>

    <!-- Content Row -->
</div>
    <!-- /.container-fluid -->
{%endblock%}