{% extends "base.html" %}
{% block content %}
<div class="wrapper" style="margin-top: calc(0px + 76px);width: 1094px;
    margin-left: auto;
    margin-right: auto; ">
    <div class="row container mx-auto">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <p class="bold" style="margin-top: 12px;font-size: large;text-transform: lowercase; color: #fff; font-family: 'Roboto', sans-serif;">
                    {{legend}}
                </p>
              </ol>
            </nav>
        </div>
    </div>
<div class="row container mx-auto">
    <div class="col-md-12">
        <div class="jumbotron-fluid">
            {% if legend == "client" %} 
                {% if current_user.is_authenticated %}
                    <form>
                        <div class="row">
                            <div class="form-group col-md-9">
                              <input id="exampleFormControlInput5" type="email" placeholder="que recherchez-vous ?" class="form-control form-control-underlined">
                            </div>
                            <div class="form-group col-md-3">
                              <button type="submit" class="btn btn-black btn-block btn-sm shadow-sm">recherchez</button>
                            </div>
                        </div>
                    </form>
                    <table class="table" style="width:100%">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Reference</th>
                            <th scope="col">Type</th>
                            <!-- <th scope="col">SOCIETE</th> -->
                            <th scope="col">TITRE</th>
                            <!-- <th scope="col">NOM</th> -->
                            <th scope="col">EMAIL</th>
                            <th scope="col">NUMERO</th>
                            <th scope="col">ADRESSE1</th>
                            <!-- <th scope="col">ADRESSE2</th> -->
                            <!-- <th scope="col">CP</th> -->
                            <th scope="col">VILLE</th>
                            <!-- <th scope="col">Zone_de_région_du_client</th> -->
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            {%for client_ in Client %}
                                <tr>
                                    <th scope="row">{{client_.id}}</th>
                                    <td>{{client_.Reference}}</td>
                                    <td>{{client_.TYPE}}</td>
                                    <!-- <td>{{client_.SOCIETE}}</td> -->
                                    <td>{{client_.TITRE}}</td>
                                    <!-- <td>{{client_.NOM}}</td> -->
                                    <td>{{client_.EMAIL}}</td>
                                    <td>{{client_.NUMERO}}</td>
                                    <td>{{client_.ADRESSE1}}</td>
                                    <!-- <td>{{client_.ADRESSE2}}</td> -->
                                    <!-- <td>{{client_.CP}}</td> -->
                                    <td>{{client_.VILLE}}</td>
                                    <!-- <td>{{client_.Zone_de_région_du_client}}</td> -->
                                    <td style="display: flex"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modaledit{{client_.id}}"><i class="fas fa-eye"></i></button><a href="{{ url_for('users.delete',id=client_.id,type1='client' )}}" class="btn btn-danger"><i class="fas fa-trash"></i></a></td>
                                    
                                </tr>
                                <div id="modaledit{{client_.id}}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                   <div class="modal-header"><h4 class="modal-title">Update Information</h4></div>
                                    <div class="modal-body">
                                    <form action="{{url_for('users.update')}}" method="POST">
                                     <div class="form-group">
                                      <label>NOM</label>
                                      <input type="hidden"  name="id" value="{{client_.id}}">
                                      <input type="text" class="form-control" name="name" value="{{client_.NOM}}">
                                     </div>
                                     <div class="form-group">
                                      <label>Email</label>
                                      <input type="text" class="form-control" name="email" value="{{client_.EMAIL}}">
                                     </div>
                                     <div class="form-group">
                                      <label>NUMERO</label>
                                      <input type="text" class="form-control" name="phone" value="{{client_.NUMERO}}">
                                     </div>
                                     <div class="form-group">
                                        <label>ADRESSE1</label>
                                        <input type="text" class="form-control" name="ADRESSE1" value="{{client_.NUMERO}}">
                                    </div>
                                    

                                     <div class="form-group">
                                      <button class="btn btn-primary" type="submit">Update</button>
                                     </div>
                                    </form>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                  </div>
                                  </div>
                                 </div> 
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
        {% endif %}
    {% elif legend == "facturation" %} 
        {% if current_user.is_authenticated %}            
            <h>facturation</h>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Facture</th> 
                    <th scope="col">Date de la mission</th> 
                    <th scope="col">Country</th>
                    <th scope="col">Destinataire</th>
                    <th scope="col">Numero_de_compte</th>
                    <th scope="col">expéditeur</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Montant</th> 
                    <th scope="col">TVA</th> 
                    <th scope="col">Total</th> 
                    <th scope="col">Type</th>
                    <th scope="col">Proprietaire</th> 
                    <th scope="col">Locataire</th> 
                    <th scope="col">Ville</th> 
                    <th scope="col">Surface</th>
                    <th scope="col">Tarif</th>
                    <th scope="col">Appt_Pav</th>
                </tr>
                </thead>
                <tbody>
                {%for facturation_ in Facturation %}
                    <tr>
                        <td>{{facturation_.id}}</td>
                        <td>{{facturation_.Facture_no}}</td>
                        <td>{{facturation_.Date_}}</td>
                        <td>{{facturation_.Pays}}</td>
                        <td>{{facturation_.Destinataire}}</td>
                        <td>{{facturation_.Numero_de_compte}}</td>
                        <td>{{facturation_.expéditeur}}</td>
                        <td>{{facturation_.Contact}}</td>
                        <td>{{facturation_.Montant}}</td>
                        <td>{{facturation_.TVA }}</td>
                        <td>{{facturation_.Total}}</td> 
                        <td>{{facturation_.Type}}</td> 
                        <td>{{facturation_.Proprietaire}}</td>
                        <td>{{facturation_.Locataire}}</td>  
                        <td>{{facturation_.Ville}}</td>  
                        <td>{{facturation_.Surface}}</td> 
                        <td>{{facturation_.Tarif}}</td> 
                        <td>{{facturation_.Appt_Pav}}</td> 
                    </tr>
                {%endfor%}
                </tbody>
            </table>
        {% endif %}
    {% elif legend == "mission" %} 
        {% if current_user.is_authenticated %}  
            <h>mission</h>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Reference_BAILLEUR</th>  
                    <th scope="col">SOCIETE_BAILLEUR</th>  	
                    <th scope="col">TITRE_BAILLEUR</th>	   
                    <th scope="col">NOM_BAILLEUR</th>	  
                    <th scope="col">ADRESSE1_BAILLEUR</th>    
                    <th scope="col">ADRESSE2_BAILLEUR</th>	   
                    <th scope="col">CP_BAILLEUR</th>	    
                    <th scope="col">VILLE_BAILLEUR</th>   
                    <th scope="col">NRO_FACTURE</th>	 
                    <th scope="col">ABONNEMENT</th>	  
                    <th scope="col">TITRE_CONCESS</th>   
                    <th scope="col">NOM_CONCESS</th>	  
                    <th scope="col">DATE_REALISE_EDL</th>  	
                    <th scope="col">PRIX_HT_EDL</th>	  
                    <th scope="col">TVA_EDL</th>	  
                    <th scope="col">PRIX_TTC_EDL</th>	  
                    <th scope="col">TITRE_INTERV</th>	   
                    <th scope="col">NOM_INTERV</th>	  
                    <th scope="col">REF_LOCATAIRE</th>	   
                    <th scope="col">TITRE_LOCATAIRE</th> 	
                    <th scope="col">NOM_LOCATAIRE</th> 
                    <th scope="col">ADRESSE1_BIEN</th>  	
                    <th scope="col">ADRESSE2_BIEN</th>   	
                    <th scope="col">CP_BIEN</th>	  
                    <th scope="col">VILLE_BIEN</th> 
                    <th scope="col">CA_HT_AS</th>  	
                    <th scope="col">TVA_AS</th>	  
                    <th scope="col">CA_TTC_AS</th>  	
                    <th scope="col">CA_HT_AC</th>  	
                    <th scope="col">CA_TTC_AC</th>	  
                    <th scope="col">CA_HT_TRUST</th>	  
                    <th scope="col">TVA_TRUST</th>	  
                    <th scope="col">Date_chiffrage_regle</th>  
                    <th scope="col">Prix_ht_chiffrage</th>	  
                    <th scope="col">POURCENTAGE_suiveur_chiffrage</th>	  
                    <th scope="col">POURCENTAGE_AS_chiffrage</th>  	
                    <th scope="col">POURCENTAGE_manager_chiffrage</th>   	
                    <th scope="col">Nom_manager_chiffrage</th>  	
                    <th scope="col">POURCENTAGE_agent_chiffrage</th>  	
                    <th scope="col">Nom_agent_chiffrage</th>   	
                    <th scope="col">TYPE_EDL</th>  	
                    <th scope="col">DATE_FACTURE</th>  	
                    <th scope="col">TITRE_PROPRIO</th>  	
                    <th scope="col">NOMPROPRIO</th>  	
                    <th scope="col">DATE_FACT_REGLEE</th>  	
                    <th scope="col">DATE_COM_REGLEE_AS</th>  	
                    <th scope="col">MONTANT_COM_REGLEE_AS</th>   	
                    <th scope="col">DATE_COM_REGLEE_AC</th>  	
                    <th scope="col">MONTANT_COM_REGLEE_AC</th>  	
                    <th scope="col">TYPE_LOGEMENT</th>  	
                    <th scope="col">NBRE_EDL_ABOONEMENT</th>  	
                    <th scope="col">MAIL_CONTACT_ENVOI_FACT</th>  	
                    <th scope="col">DATE_saisie_enregistrement</th>  
                    <th scope="col">CODE_AMEXPERT</th>  	
                    <th scope="col">COMMENTAIRE_FACTURE</th>  	
                    <th scope="col">TYPE_PAIEMENT</th>  	
                    <th scope="col">N_REMISE_DE_CHEQUE</th>  	
                    <th scope="col">SAISIE_TRAITE_PAR</th>  	
                    <th scope="col">infos_et_TRAITEMENT</th>  	
                    <th scope="col">LOGEMENT_MEUBLE</th>  	
                    <th scope="col">CODE_FACTURATION</th>  	
                    <th scope="col">TYPE_DE_BIEN</th>  	
                    <th scope="col">surface_logement1</th>  	
                    <th scope="col">ETAGE</th>  	
                    <th scope="col">POINTAGE</th>  	
                    <th scope="col">DATE_POINTAGE</th>  	
                    <th scope="col">DEVEL</th>  	
                    <th scope="col">DATE_EXTRACTION_COMPTABLE</th>  	
                    <th scope="col">POURCENTAGE_COM_AS_DU_CLIENT</th>  	
                    <th scope="col">Nom_Respon_Cell_Dev</th>	
                    <th scope="col">POURCENTAGE_Respon_Cell_Dev</th>  	
                    <th scope="col">Nom_agent_Cell_Dev</th> 	
                    <th scope="col">POURCENTAGE_Agent_Cell_Dev</th>  	
                    <th scope="col">Nom_Agent_CellTech</th> 	
                    <th scope="col">POURCENTAGE_Agent_Cell_Tech</th>  	
                    <th scope="col">Nom_Respon_Cell_Tech</th>  	
                    <th scope="col">POURCENTAGE_Respon_Cell_Tech</th>  	
                    <th scope="col">Nom_Suiveur_Cell_Tech</th>   
                    <th scope="col">POURCENTAGE_Suiveur_Cell_Tech</th>	  
                    <th scope="col">Nom_Respon_Cell_Planif</th> 
                    <th scope="col">POURCENTAGE_Respon_Cell_Planif</th>   	
                    <th scope="col">Nom_Suiveur_Cell_Planif</th>  
                    <th scope="col">POURCENTAGE_Suiveur_Cell_Planif</th>	  
                    <th scope="col">Nom_Agent_saisie_Cell_Planif</th>  	
                    <th scope="col">POURCENTAGE_Agent_saisie_CEll_planif</th> 
                      
                </tr>
                </thead>
                <tbody>
                    {%for mission_ in Mission %}
                        <tr>
                            <th scope="row">{{mission_.id}}</th>
                            <td>{{mission_.Reference_BAILLEUR}}</td>  
                            <td>{{mission_.SOCIETE_BAILLEUR }}</td>  	
                            <td>{{mission_.TITRE_BAILLEUR}}</td> 	   
                            <td>{{mission_.NOM_BAILLEUR}}</td> 	  
                            <td>{{mission_.ADRESSE1_BAILLEUR}}</td>     
                            <td>{{mission_.ADRESSE2_BAILLEUR}}</td> 	   
                            <td>{{mission_.CP_BAILLEUR}}</td> 	    
                            <td>{{mission_.VILLE_BAILLEUR}}</td>    
                            <td>{{mission_.NRO_FACTURE}}</td> 	 
                            <td>{{mission_.ABONNEMENT}}</td> 	  
                            <td>{{mission_.TITRE_CONCESS }}</td>   
                            <td>{{mission_.NOM_CONCESS}}</td> 	  
                            <td>{{mission_.DATE_REALISE_EDL }}</td>  	
                            <td>{{mission_.PRIX_HT_EDL}}</td> 	  
                            <td>{{mission_.TVA_EDL}}</td> 
                            <td>{{mission_.PRIX_TTC_EDL}}</td> 	  
                            <td>{{mission_.TITRE_INTERV}}</td> 	   
                            <td>{{mission_.NOM_INTERV}}</td> 	  
                            <td>{{mission_.REF_LOCATAIRE}}</td> 
                            <td>{{mission_.TITRE_LOCATAIRE}}</td>  	
                            <td>{{mission_.NOM_LOCATAIRE}}</td>  
                            <td>{{mission_.ADRESSE1_BIEN}}</td>   	
                            <td>{{mission_.ADRESSE2_BIEN}}</td>    	
                            <td>{{mission_.CP_BIEN}}</td> 	  
                            <td>{{mission_.VILLE_BIEN}}</td>  
                            <td>{{mission_.CA_HT_AS}}</td>   	
                            <td>{{mission_.TVA_AS}}</td> 	  
                            <td>{{mission_.CA_TTC_AS}}</td>   	
                            <td>{{mission_.CA_HT_AC }}</td>  	
                            <td>{{mission_.CA_TTC_AC	}}</td>   
                            <td>{{mission_.CA_HT_TRUST}}</td> 	  
                            <td>{{mission_.TVA_TRUST}}</td> 	  
                            <td>{{mission_.Date_chiffrage_regle}}</td>   
                            <td>{{mission_.Prix_ht_chiffrage}}</td> 	  
                            <td>{{mission_.POURCENTAGE_suiveur_chiffrage}}</td> 	  
                            <td>{{mission_.POURCENTAGE_AS_chiffrage}}</td>   	
                            <td>{{mission_.POURCENTAGE_manager_chiffrage}}</td>    	
                            <td>{{mission_.Nom_manager_chiffrage}}</td>   	
                            <td>{{mission_.POURCENTAGE_agent_chiffrage}}</td>   	
                            <td>{{mission_.Nom_agent_chiffrage}}</td>    	
                            <td>{{mission_.TYPE_EDL}}</td>   	
                            <td>{{mission_.DATE_FACTURE}}</td>   	
                            <td>{{mission_.TITRE_PROPRIO}}</td>   	
                            <td>{{mission_.NOMPROPRIO}}</td>   	
                            <td>{{mission_.DATE_FACT_REGLEE}}</td>   	
                            <td>{{mission_.DATE_COM_REGLEE_AS}}</td>   	
                            <td>{{mission_.MONTANT_COM_REGLEE_AS }}</td>   	
                            <td>{{mission_.DATE_COM_REGLEE_AC  }}</td> 	
                            <td>{{mission_.MONTANT_COM_REGLEE_AC}}</td>   	
                            <td>{{mission_.TYPE_LOGEMENT }}</td>  	
                            <td>{{mission_.NBRE_EDL_ABOONEMENT}}</td>   	
                            <td>{{mission_.MAIL_CONTACT_ENVOI_FACT}}</td>   	
                            <td>{{mission_.DATE_saisie_enregistrement}}</td>   
                            <td>{{mission_.CODE_AMEXPERT}}</td>   	
                            <td>{{mission_.COMMENTAIRE_FACTURE}}</td>   	
                            <td>{{mission_.TYPE_PAIEMENT}}</td>   	
                            <td>{{mission_.N_REMISE_DE_CHEQUE}}</td>   	
                            <td>{{mission_.SAISIE_TRAITE_PAR}}</td>   	
                            <td>{{mission_.infos_et_TRAITEMENT}}</td>   	
                            <td>{{mission_.LOGEMENT_MEUBLE }}</td>  	
                            <td>{{mission_.CODE_FACTURATION}}</td>   	
                            <td>{{mission_.TYPE_DE_BIEN }}</td>  	
                            <td>{{mission_.surface_logement1}}</td>   	
                            <td>{{mission_.ETAGE}}</td>   	
                            <td>{{mission_.POINTAGE}}</td>   	
                            <td>{{mission_.DATE_POINTAGE}}</td>   	
                            <td>{{mission_.DEVEL}}</td>   	
                            <td>{{mission_.DATE_EXTRACTION_COMPTABLE}}</td>   	
                            <td>{{mission_.POURCENTAGE_COM_AS_DU_CLIENT}}</td>   	
                            <td>{{mission_.Nom_Respon_Cell_Dev}}</td> 	
                            <td>{{mission_.POURCENTAGE_Respon_Cell_Dev}}</td>   	
                            <td>{{mission_.Nom_agent_Cell_Dev}}</td>  	
                            <td>{{mission_.POURCENTAGE_Agent_Cell_Dev}}</td>   	
                            <td>{{mission_.Nom_Agent_CellTech}}</td>  	
                            <td>{{mission_.POURCENTAGE_Agent_Cell_Tech}}</td>  	
                            <td>{{mission_.Nom_Respon_Cell_Tech}}</td>   	
                            <td>{{mission_.POURCENTAGE_Respon_Cell_Tech}}</td>   	
                            <td>{{mission_.Nom_Suiveur_Cell_Tech}}</td>    
                            <td>{{mission_.POURCENTAGE_Suiveur_Cell_Tech}}</td> 	  
                            <td>{{mission_.Nom_Respon_Cell_Planif}}</td>  
                            <td>{{mission_.POURCENTAGE_Respon_Cell_Planif}}</td>    	
                            <td>{{mission_.Nom_Suiveur_Cell_Planif}}</td>   
                            <td>{{mission_.POURCENTAGE_Suiveur_Cell_Planif}}</td> 	  
                            <td>{{mission_.Nom_Agent_saisie_Cell_Planif}}</td>   	
                            <td>{{mission_.POURCENTAGE_Agent_saisie_CEll_planif}}</td> 
                            <td><button type="button" class="btn btn-primary">Modifier</button></td>
                            <td><a href="{{ url_for('users.delete',id=mission_.id,type1='mission' )}}"><button type="button" class="btn btn-danger">Supprimer</button></a></td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        {% endif %}
    {% elif legend == "expert" %} 
        {% if current_user.is_authenticated %}
                    <form>
                        <div class="row">
                            <div class="form-group col-md-9">
                              <input id="exampleFormControlInput5" type="email" placeholder="que recherchez-vous ?" class="form-control form-control-underlined">
                            </div>
                            <div class="form-group col-md-3">
                              <button type="submit" class="btn btn-black btn-block btn-sm shadow-sm">recherchez</button>
                            </div>
                        </div>
                    </form>          
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">NOM</th>
                        <th scope="col">TITRE</th>
                        <th scope="col">TYPE</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">NUMERO</th>
                    </tr>
                    </thead>
                    <tbody>
                        {%for expert in Expert %}
                            <tr>
                                <th scope="row">{{expert.id}}</th>
                                <td>{{expert.TITRE}}</td>
                                <td>{{expert.NOM}}</td>
                                <td>{{expert.TYPE}}</td>
                                <td>{{expert.EMAIL}}</td>
                                <td>{{expert.NUMERO}}</td>
                                <td><button type="button" class="btn btn-primary">Modifier</button></td>
                                <td><a href="{{ url_for('users.delete',id=expert.id,type1='expert' )}}"><button type="button" class="btn btn-danger">Supprimer</button></a></td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
        {% endif %}
        
    {% elif legend == "tarifs" %}
        {% if current_user.is_authenticated %}  
            <h>tarifs</h>
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Service_offert</th>
                        <th scope="col">Type</th>
                        <th scope="col">Prix</th>    
                    </tr>
                    </thead>
                    <tbody>
                    {%for tarifs_ in Tarifs %}
                        <tr>
                            <th scope="row">{{tarifs_.id}}</th>
                            <td>{{tarifs_.Service_offert}}</td>
                            <td>{{tarifs_.Type}}</td>
                            <td>{{tarifs_.Prix}}</td>
                            <td><button type="button" class="btn btn-primary">Modifier</button></td>
                            <td><button type="button" class="btn btn-danger">Supprimer</button></td>
                        </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% elif legend == "chiffrage" %} 
        {% if current_user.is_authenticated %} 
            <form>
                <div class="row">
                    <div class="form-group col-md-9">
                      <input id="exampleFormControlInput5" type="email" placeholder="que recherchez-vous ?" class="form-control form-control-underlined">
                    </div>
                    <div class="form-group col-md-3">
                      <button type="submit" class="btn btn-black btn-block btn-sm shadow-sm">recherchez</button>
                    </div>
                </div>
            </form>

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">identifiant</th>
                        <th scope="col">mission</th>
                        <th scope="col">type d'expert</th>
                        <th scope="col">gain(%)</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {%for chiffrage_ in Chiffrage %}
                        <tr>
                            <td scope="col">{{chiffrage_.id}}</td>
                            <td>{{chiffrage_.Mission}}</td>
                            <td>{{chiffrage_.Type_expert}}</td>
                            <td>{{chiffrage_.Pourcentage_gain}}</td>
                            <td><a href="{{ url_for('users.agenda')}}" class="g-btn g-btn--white has-border u-small">tout afficher</a></td>
                        </tr>
                    {%endfor%}                               
                </tbody>
            </table>
                    </div>
                </div>
        {% endif %}
    {% elif legend == "agenda" %} 
        {% if current_user.is_authenticated %} 
            <form>
                <div class="row">
                    <div class="form-group col-md-9">
                      <input id="exampleFormControlInput5" type="email" placeholder="que recherchez-vous ?" class="form-control form-control-underlined">
                    </div>
                    <div class="form-group col-md-3">
                      <button type="submit" class="btn btn-black btn-block btn-sm shadow-sm">recherchez</button>
                    </div>
                </div>
            </form>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" title="Details_du_rendezvous">dd-rdv</th>
                        <th scope="col" title="client">c</th>
                        <th scope="col" title="audit_planner">ap</th>
                        <th scope="col" title="Agent_referent_du_client">ardc</th> 
                        <th scope="col" title="Validation_par_agent">vpa</th> 
                        <th scope="col" title="Lieu">l</th> 
                        <th scope="col" title="Date_">d</th>  
                        <th scope="col">Heure</th>  
                        <th scope="col" title="Suivi_du_rendezvous">sd-rdv</th>  
                        <th scope="col" title="Confirmation_du_rendezvous">cd-rdv</th>  
                    </tr>
                </thead>
                <tbody>
                {%for agenda_ in Agenda %}
                    <tr>
                        <th scope="row">{{agenda_.id}}</th>
                        <td>{{agenda_.Details_du_rendezvous}}</td>
                        <td>{{agenda_.Agent_referent_du_client}} </td>
                        <td>{{agenda_.Validation_par_agent}}</td>
                        <td>{{agenda_.Lieu}}</td>
                        <td>{{agenda_.Date_}}</td>
                        <td>{{agenda_.Heure}}</td>  
                        <td>{{agenda_.Suivi_du_rendezvous}} </td> 
                        <td>{{agenda_.Confirmation_du_rendezvous}}</td> 
                        <td><button type="button" class="btn btn-primary">Modifier</button></td>
                        <td><button type="button" class="btn btn-danger">Supprimer</button></td>
                    </tr>
                {%endfor%}
                </tbody>
            </table>
        {% endif %}
    {% endif  %}
</div>
</div>
</div>
{% endblock  content %}